<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='box.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="meaningBox">
        <form id="dictionaryForm">
            <input type="text" class="Word-Box" id="word" placeholder="Enter the Word" name="word">
        </form>
    </div>
    <div id="result"></div>
    <button id="translate">Get Meaning!</button>
    {% include 'footer.html' %}
</body>
</html>