<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Sarthak's Blog</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Me</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#">C++</a></li>
                <li><a href="/python">Python</a></li>
                <li><a href="#">Web Development</a></li>
                </ul>
            </li>
            <li><a href="/home">Percentage Calculator</a></li>
            <li><a href="/login">Speech Recogniser</a></li>
            <li><a href="/dictionary">Get Meaning</a></li>
            <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</header>