<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
<body>
    {% include 'header.html' %}
        <div class="container">
            <div class="word">
                <form id="dictionaryForm" action="/recognize" method="post">
                    <input type="text" class="Word-Box" id="word" placeholder="Enter the Word" name="word">
                </form>
                <div id="speechBox">
                    {% if text %}
                        <p>Word: {{ text }}</p>
                    {% endif %}
                    {% if error %}
                        <p>Error: {{ error }}</p>
                    {% endif %}
                </div>
            </div>
            <div id="word2">
                <p id="meaning"></p>
            </div>
            <br>
            <button id="translate" type="submit">Translate</button>
            <!--<form action="/recognize" method="post">
                <button id="buttonEdit" type="submit"><img src="{{ url_for('static', filename='mic.svg') }}"></img></button>
            </form>-->
            {% include 'footer.html' %}
</body>
</html>