<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        {% include 'header.html' %}
            <h4>Looks like you wanna learn python, Well python is a wonderful language it has a variety<br>
                of features some of them are:<br>It is easy to use, <br>
                it has a lot of packages made for it,<br>it can be used for variou purposes for example web development,<br> 
                AI/ML,<br>data science, <br>app development. <br><br>If you are coming from another language than you may not like python that much 
                but you will love it just give it a try. So, lets start our journey with python<br>Here is a basic python code for you to try:</b>
                <div class="CodeBox"><br><br>print('Hello World!)</div><br>
                Output:
                <div class="OutputBox">Hello World!</div>
            <b>{{ headtype }}</h4>
        {% include 'footer.html' %}
    </body>
</html>