<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Sarthak's Blog</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">C++</a></li>
                    <li><a href="python">Python</a></li>
                    <li><a href="#">Web Development</a></li>
                    </ul>
                </li>
                <li><a href="/home">Percentage Calculator</a></li>
                <li><a href="/login">Speech Recogniser</a></li>
                <li><a href="/dictionary">Get Meaning</a></li>
                <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            </nav>
            <h4>Looks like you wanna learn python, Well python is a wonderful language it has a variety<br>
                of features some of them are:<br>It is easy to use, <br>
                it has a lot of packages made for it,<br>it can be used for variou purposes for example web development,<br> 
                AI/ML,<br>data science, <br>app development. <br><br>If you are coming from another language than you may not like python that much 
                but you will love it just give it a try. So, lets start our journey with python<br>Here is a basic python code for you to try:</b>
                <div class="CodeBox"><br><br>print('Hello World!)</div><br>
                Output:
                <div class="OutputBox">Hello World!</div>
            <b>{{ headtype }}</h4>
            <!-- FOOTER -->
            <footer class="w-100 py-4 flex-shrink-0">
                <div class="container py-4">
                    <div class="row gy-4 gx-5">
                        <div class="col-lg-4 col-md-6">
                            <h5 class="h1 text-white">FB.</h5>
                            <p class="small text-muted">This website is built on Python which helps you with diffirent calculators.</p>
                            <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Sarthak's Python</a></p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Quick links</h5>
                            <ul class="list-unstyled text-muted">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Me</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Quick links</h5>
                            <ul class="list-unstyled text-muted">
                                <li><a href="#">Python</a></li>
                                <li><a href="#">C++</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Coding Practice</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h5 class="text-white mb-3">Newsletter</h5>
                            <p class="small text-muted">If you would like to connect with us:</p>
                            <form action="#">
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
    </body>
</html>