body{
    background-image: linear-gradient(90deg, white, rgba(177, 175, 175, 0.493));
}

.Word-Box{
    width: 250px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: larger;
}

#result{
    position: relative;
    top: 10px;
    left: 10px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    font-size: larger;
}

#translate{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
